
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.answer-container {
  display: inline-block;

  .answer-circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: black;
    cursor: pointer;
    text-align: center;

    .check-mark {
      display: inline-block;
      transform: rotate(45deg);
      top: 50px;
      height: 24px;
      width: 12px;
      border-bottom: 7px solid white;
      border-right: 7px solid white;
    }
  }  
}
